.header__links {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-style: normal;
  text-align: right;
  list-style: none;
  margin: 0;
}
