.page {
  background: #2A2C2F;
  margin: 0 auto;
  max-width: 1600px;
  min-width: 120px;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
