.lead__image {
  margin: 64px 148px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .lead__image {
    margin: 56px 48px 0;
  }
}

@media screen and (max-width: 896px) {
  .lead__image {
    margin: 56px 0 0;
  }
}

@media screen and (max-width: 373px) {
  .lead__image {
    margin: 40px 0 0;
  }
}
